:root {
  --main-theme-900: #171717;
  --main-theme-800: #262626;
  --main-theme-700: #3f3f46;
  --main-theme-600: #52525b;
  --main-theme-500: #71717a;
  --main-theme-400: #a1a1aa;
  --main-theme-300: #d4d4d8;
  --main-theme-200: #e4e4e7;
  --main-theme-100: #f4f4f5;
  --main-theme-50: #fafafa;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.15;
  height: 100vh;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: var(--main-theme-900);
  height: 100%;
}

h1 {
  font-size: 1.5rem;
  color: var(--main-theme-300);
}

button:focus {
  outline: 0;
}

#calculator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 450px;
  gap: 2rem;
}

.calculator-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-theme-800);
  margin-top: 10px;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}

.calculator-input__item-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.calculator-input__item-type > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}

.calculator-input__item-type > div label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
}

/* .calculator__item-type input {
  margin-right: 20px;
} */

label[for="rbtnHeroic"] {
  color: #38bdf8;
}

label[for="rbtnFable"] {
  color: #fcd34d;
}

label[for="rbtnEternal"] {
  color: #f59e0b;
}

label[for="rbtnMythical"] {
  color: #4338ca;
}

.calculator-input select {
  width: 48px;
  height: 48px;
  font-size: 1.125rem;
}

.calculator-input__levels > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
  color: var(--main-theme-300);
}

.calculator-output {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.calculator-output__list {
  overflow-y: scroll;
  max-height: 350px;
}

.calculator-output__list-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.calculator-output__list-item div {
  padding: 5px 10px;
  flex: 1;
  /*text-align: center;*/
}

.calculator-output__list-item:nth-child(even) {
  background-color: var(--main-theme-200);
}

.calculator-output__list-item:nth-child(odd) {
  background-color: var(--main-theme-300);
}

.calculator-output__header {
  background-color: var(--main-theme-800);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.calculator-output__header div {
  flex: 1;
  color: var(--main-theme-300);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-theme-300);
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-theme-600);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-theme-700);
}

::-webkit-scrollbar-thumb:active {
  background: var(--main-theme-800);
}
